.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.sidebar {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }

  .sidebar {
    display: none;
  }
}

.stickySidebar {
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
  height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tocWithFeedback {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem; /* Optional: avoid scrollbar overlap */
}

.feedbackWrapper {
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
  position: relative;
  z-index: 1;
  padding-left: 1rem;
}
