.integrations {
  padding-block: 4rem; /* 64px */
  background-color: #fbfbfc;
  margin-left: -1rem;
  margin-right: -1rem;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-size: var(--fs-header-1);
  line-height: 1.40625;
  margin-bottom: calc(
    var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading)
  );
  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
  @media (--lg-scr) {
    margin-bottom: 2.5rem; /* 40px */
  }
}

.iconSvg {
  width: 48px;
  height: 48px;
  fill: currentColor;

  @media (--sm-scr) {
    width: 32px;
    height: 32px;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--m-2);

  @media (min-width: 577px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--lg-scr) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.integrationItem {
  padding: var(--m-1) var(--m-1) var(--m-2) var(--m-1);
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--color-tonal-neutral-0);
  background-color: var(--color-white);
  text-decoration: none;
  &.defaultIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .integrationTitle {
      font-weight: 500;
    }
  }

  &:hover {
    background: var(--color-white);
    box-shadow: 0 4px 12px rgba(81, 47, 201, 0.15);
  }
}

.integrationIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  min-height: 96px;
  max-height: 96px;

  &.defaultIcon {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    min-height: unset;
    max-height: unset;
    background-color: var(--color-tonal-neutral-0);
    .iconSvg {
      width: 24px;
      height: 24px;
    }
  }
}

.integrationTitle {
  font-size: var(--fs-header-4);
  font-weight: var(--fw-bold);
  color: var(--color-text);
  margin-top: var(--m-2);
  margin-bottom: 0;
  font-family: var(--font-base);
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
  display: block;
  transition: color 0.2s ease-in-out;

  @media (max-width: 576px) {
    font-size: 1rem;
  }
}

.integrationItem:hover {
  text-decoration: none;
  .integrationTitle {
    color: var(--color-dark-purple);
  }
}

.integrationDescription {
  font-size: var(--fs-text-lg);
  margin: 0;
  color: #757575;
  line-height: 1.5;
  font-family: var(--font-base);
}

.integrationItem:hover .integrationDescription {
  color: var(--color-text);
}
