.versionHighlights {
  padding-bottom: 5.25rem /* 84px */;
  background-color: var(--color-white);
}

.title {
  font-size: var(--fs-header-1);
  margin-bottom: unset;
  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.container {
  max-width: var(--lp-section-max-width);
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  margin-bottom: var(--m-4);
  flex-direction: column;
}

.links {
  display: flex;
  align-items: center;
  gap: var(--m-2);
  margin-top: 14px;

  .link {
    border-radius: var(--m-1-5);
    background-color: var(--color-tonal-neutral-0);
    color: var(--color-foreground-slightly-muted);
    font-weight: var(--fw-regular);
    font-size: var(--fs-text-sm);
    padding: var(--m-1) var(--m-4);
  }
}

@media (--md-scr) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .links {
    margin-top: 0;
    .link {
      font-size: var(--fs-text-md);
      padding: var(--fs-text-xs) var(--m-4);
    }
  }
}

.highlightsList {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  gap: var(--m-3);
  @media (--md-scr) {
    gap: var(--m-2);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  & > li {
    margin-top: 0 !important;
  }
}

.highlightItem {
  display: grid;
  gap: var(--m-2);
  grid-template-columns: 1fr;

  @media (--md-scr) {
    grid-template-columns: minmax(0, 48%) minmax(0, 52%);
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
    .highlightLink {
      text-decoration: underline;
    }
  }

  .highlightContent {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .highlightImage {
    background-color: var(--color-tonal-neutral-0);
    border-radius: var(--m-2);
    aspect-ratio: 323 / 182;
    overflow: hidden;
    position: relative;

    .image {
      top: 0;
      left: 0;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .highlightTag {
    font-size: 11px;
    color: var(--color-foreground-slightly-muted);
    background-color: #fbfbfc;
    border-radius: 8px;
    padding: 8px 12px;
    width: max-content;
    border: 1px solid var(--color-tonal-neutral-0);
    margin-bottom: 0;
    line-height: 1.45;
  }

  .highlightTitle {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 18px;
    color: var(--color-black);
  }

  .highlightDescription {
    color: var(--color-foreground-muted);
    margin-bottom: 0;
    line-height: 1.625;
    font-size: var(--fs-text-md);
  }

  .highlightLink {
    font-size: 18px;
    color: var(--color-dark-purple);
    text-decoration: none;
    font-weight: var(--fw-bold);
    margin-bottom: 0;
  }

  @media (--md-scr) {
    .highlightTag {
      font-size: var(--fs-text-sm);
      padding: 7px 12px;
    }

    .highlightDescription {
      font-size: var(--fs-text-lg);
    }

    .highlightTitle,
    .highlightLink {
      font-size: var(--fs-header-4);
    }
  }
}
