.getStarted {
  padding-bottom: var(--lp-section-padding-lg);
  background-color: var(--color-white);
  margin-left: -1rem;
  margin-right: -1rem;
}

.title {
  font-size: var(--fs-header-1);
  margin-bottom: var(--m-4);

  @media (max-width: 576px) {
    font-size: 1.5rem;
    margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  }
}

.container {
  max-width: var(--lp-section-max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  gap: var(--m-2);
  grid-template-areas:
    "steps"
    "video"
    "links";
  grid-template-columns: 1fr;

  @media (--lg-scr) {
    grid-template-areas:
      "steps video"
      "links links";
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.steps {
  grid-area: steps;
  display: flex;
  flex-direction: column;
  padding: var(--m-3) var(--m-2);
  border-radius: 16px;
  border: 1.5px solid var(--color-tonal-neutral-0);

  .step {
    padding: var(--m-1-5) var(--m-2);
    transition: all 0.2s ease-in-out;
    border-radius: 12px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background: var(--color-white);
      box-shadow: var(--lp-box-shadow-hover);
    }
  }

  .stepTitle {
    font-size: var(--fs-header-4);
    color: var(--color-dark-purple);
  }

  .stepDescription {
    font-size: var(--fs-text-lg);
    color: var(--color-foreground-slightly-muted);
    font-weight: 500;
    line-height: 1.75;
  }

  .stepTitle,
  .stepDescription {
    margin-bottom: unset;
  }
}

.video {
  grid-area: video;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 693 / 390;
}

.links {
  grid-area: links;
  display: grid;
  gap: var(--m-2);
  grid-template-columns: 1fr;

  @media (min-width: 577px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (--lg-scr) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .link {
    padding: var(--m-3);
    border-radius: 16px;
    height: 100%;
    border: 1.5px solid var(--color-tonal-neutral-0);
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background: var(--color-white);
      box-shadow: var(--lp-box-shadow-hover);
      .linkTitle {
        color: var(--color-dark-purple);
      }
    }

    .linkContent {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: var(--m-1-5);
    }

    .linkTitle {
      font-weight: var(--fw-bold);
      font-size: var(--fs-header-4);
      color: var(--color-black);
      margin-bottom: unset;
      line-height: 1.5;
      max-width: calc(100% - 24px);
      transition: color 0.2s ease-in-out;
    }

    .linkDescription {
      font-size: 15.95px;
      margin-bottom: unset;
      color: var(--color-black);
      line-height: 1.625;
    }

    .linkIcon {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
