html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: var(--font-base);
}

.navbar-sidebar {
  padding-top: var(--ifm-navbar-height);
}

.navbar-sidebar__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--ifm-menu-link-padding-vertical)
    var(--ifm-menu-link-padding-horizontal)
    var(--ifm-menu-link-padding-vertical) 0;
}

.navbar-sidebar__versions {
  display: flex;
  align-items: center;
  padding: var(--ifm-menu-link-padding-vertical)
    var(--ifm-menu-link-padding-horizontal);
}

.navbar-sidebar__search {
  padding: 0.5rem;
}

@media (max-width: 996px) {
  .navbar__item {
    display: block;
  }
}

/* Accessibility-safe class to visually hide content while keeping it available to screen readers and SEO */
.hide-title-section {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
