.docHero {
  padding-bottom: var(--m-5);
  @media (--md-scr) {
    padding-bottom: var(--m-8);
  }
}

.container {
  width: 100%;
  max-width: var(--lp-section-max-width);
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--m-2);

  @media (--md-scr) {
    grid-template-columns: minmax(0, 1fr);
  }

  @media (--lg-scr) {
    grid-template-columns: minmax(0, 57%) minmax(0, 43%);
  }
}

.content {
  .title {
    font-size: 1.625rem; /* 26px */
    margin-bottom: var(--m-1) !important;
    line-height: 1.46154;
    @media (--md-scr) {
      font-size: 1.875rem; /* 30px */
      line-height: 1.4;
    }
    @media (--lg-scr) {
      font-size: var(--fs-header-1);
    }
  }

  .description {
    line-height: 1.625;
    color: var(--color-foreground-slightly-muted);
    font-weight: 500;
    letter-spacing: 0.024px;
    ul {
      padding-left: 1.5em;
    }

    h3 {
      font-size: var(--fs-header-4);
      @media (--md-scr) {
        font-size: var(--fs-header-3);
      }
    }

    h3,
    h4 {
      margin-bottom: var(--m-1);
      color: var(--color-black);
    }

    * {
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: var(--color-foreground-slightly-muted);
      text-decoration: underline;
    }

    @media (--lg-scr) {
      font-size: var(--fs-text-xl);
      letter-spacing: 0.027px;
      line-height: 1.6667;
    }
  }
}

.ctaLinks {
  display: flex;
  align-items: center;
  gap: var(--m-2);
  margin-top: var(--m-2);
  flex-wrap: wrap;
}

.ctaLink {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--m-2);
  padding: var(--m-1-5) var(--m-4);
  border-radius: var(--m-0-5);
  border: 2px solid var(--color-dark-purple);
  font-size: var(--fs-text-md);
  color: var(--color-white);
  background-color: var(--color-dark-purple);
  text-decoration: none;
  line-height: 1.5;
  width: max-content;

  @media (--lg-scr) {
    font-size: var(--fs-text-lg);
  }

  &.arrow {
    &::after {
      content: "";
      position: relative;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.0303%201.19233C10.7374%200.899433%2010.2626%200.899433%209.96967%201.19233C9.67678%201.48522%209.67678%201.96009%209.96967%202.25299L15.4393%207.72266H0.75C0.335786%207.72266%200%208.05844%200%208.47266C0%208.88687%200.335786%209.22266%200.75%209.22266H15.4393L9.96967%2014.6923C9.67678%2014.9852%209.67678%2015.4601%209.96967%2015.753C10.2626%2016.0459%2010.7374%2016.0459%2011.0303%2015.753L17.7803%209.00299C17.9268%208.85654%2018%208.6646%2018%208.47266C18%208.37096%2017.9798%208.274%2017.9431%208.18557C17.9065%208.09711%2017.8522%208.01423%2017.7803%207.94233L11.0303%201.19233Z%22%20fill%3D%22%23512FC9%22%2F%3E%3C%2Fsvg%3E");
      width: 18px;
      height: 15px;
      transition: all 0.25s ease;
      filter: brightness(0) invert(1);
    }
  }

  &.secondary {
    color: var(--color-dark-purple);
    background-color: transparent;

    &.arrow {
      &::after {
        filter: none;
      }
    }
  }

  &:hover {
    background-color: var(--color-interactive-primary-hover);
    border-color: var(--color-interactive-primary-hover);
    color: var(--color-white);
    text-decoration: none;
    &.arrow {
      &::after {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.media {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .image,
  .video {
    object-fit: cover;
    aspect-ratio: 600/337.5;
    border-radius: 12px;
    width: 100%;
    height: auto;
  }
}

.links {
  --desktop-column-count: 2;
  grid-area: links;
  display: grid;
  gap: var(--m-2);
  grid-template-columns: minmax(0, 1fr);
  margin-top: var(--m-5);

  @media (--md-scr) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (--lg-scr) {
    grid-template-columns: repeat(var(--desktop-column-count), minmax(0, 1fr));
  }

  .link {
    padding: var(--m-3);
    border-radius: var(--m-2);
    height: 100%;
    border: 1.5px solid var(--color-tonal-neutral-0);
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background: var(--color-white);
      box-shadow: var(--lp-box-shadow-hover);
      .linkTitle {
        color: var(--color-dark-purple);
      }
    }

    .linkContent {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: var(--m-1-5);
    }

    .linkTitle {
      font-weight: var(--fw-bold);
      font-size: var(--fs-header-4);
      color: var(--color-black);
      margin-bottom: unset;
      line-height: 1.5;
      max-width: calc(100% - 24px);
      transition: color 0.2s ease-in-out;
    }

    .linkDescription {
      font-size: var(--fs-text-lg);
      margin-bottom: unset;
      color: var(--color-foreground-slightly-muted);
      line-height: 1.625;

      @media (--md-scr) {
        line-height: 1.75;
      }

      @media (--lg-scr) {
        font-size: var(--fs-text-xl);
        line-height: 1.66667;
      }
    }

    .linkIcon {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
