.landingHero {
  padding: var(-m-4) 0 var(--m-5) 0;
  @media (--md-scr) {
    padding: var(--m-4) var(--m-3) var(--m-8) var(--m-3);
  }
}

.container {
  width: 100%;
  max-width: var(--lp-section-max-width);
  margin: 0 auto;
}

.main {
  display: grid;
  border-radius: 12px;
  background-color: #512fc90d;
  grid-template-columns: minmax(0, 1fr);
  padding: var(--m-2);
  gap: 0.5rem;

  @media (--md-scr) {
    padding: var(--m-4);
    grid-template-columns: minmax(0, 1fr);
    gap: var(--m-4);
  }

  @media (--lg-scr) {
    padding: var(--m-5) var(--m-4);
    grid-template-columns: minmax(0, 55.1%) minmax(0, 44.9%);
  }
}

.content {
  .icon {
    display: flex;
    background-color: var(--color-tonal-primary-0);
    padding: 15.75px 15px 13.5px 15px;
    width: max-content;
    border-radius: 12px;
    margin-bottom: var(--m-3);

    svg {
      width: auto;
      height: 18.75px;
      fill: currentColor;
    }
  }

  .title {
    font-size: var(--lp-header-2);
    margin-bottom: var(--m-1) !important;
    line-height: 1.3;
    @media (--md-scr) {
      font-size: var(--lp-header-1-5);
    }
    @media (--lg-scr) {
      font-size: var(--lp-header-1);
    }
  }

  .description {
    line-height: 1.6667;
    color: var(--color-foreground-slightly-muted);
    font-weight: 500;
    ul {
      padding-left: 1.5em;
    }

    h3 {
      font-size: var(--fs-header-4);
      @media (--md-scr) {
        font-size: var(--fs-header-3);
      }
    }

    h3, h4 {
      margin-bottom: var(--m-1);
      color: var(--color-black);
    }

    * {
      &:last-child {
        margin-bottom: 0;
      }
    }

    p > a {
      &:only-child {
        position: relative;
        padding-left: 21.5px;
        font-weight: 500;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M6 10C6 9.58579 6.33579 9.25 6.75 9.25H12.4393L10.7197 7.53033C10.4268 7.23744 10.4268 6.76256 10.7197 6.46967C11.0126 6.17678 11.4874 6.17678 11.7803 6.46967L14.7803 9.46967C14.8522 9.54158 14.9065 9.62445 14.9431 9.71291C14.9798 9.80134 15 9.89831 15 10C15 10.1017 14.9798 10.1987 14.9431 10.2871C14.9065 10.3755 14.8522 10.4584 14.7803 10.5303L11.7803 13.5303C11.4874 13.8232 11.0126 13.8232 10.7197 13.5303C10.4268 13.2374 10.4268 12.7626 10.7197 12.4697L12.4393 10.75H6.75C6.33579 10.75 6 10.4142 6 10Z' fill='%23512FC9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.75 10C0.75 4.61522 5.11522 0.25 10.5 0.25C15.8848 0.25 20.25 4.61522 20.25 10C20.25 15.3848 15.8848 19.75 10.5 19.75C5.11522 19.75 0.75 15.3848 0.75 10ZM10.5 1.75C5.94365 1.75 2.25 5.44365 2.25 10C2.25 14.5563 5.94365 18.25 10.5 18.25C15.0563 18.25 18.75 14.5563 18.75 10C18.75 5.44365 15.0563 1.75 10.5 1.75Z' fill='%23512FC9'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
      }
    }

    @media (--md-scr) {
      font-size: var(--fs-text-xl);
    }
  }
}

.media {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .image,
  .video {
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 12px;
    width: 100%;
    height: auto;
  }
}

.links {
  grid-area: links;
  display: grid;
  gap: var(--m-2);
  grid-template-columns: minmax(0, 1fr);
  margin-top: var(--m-2);

  @media (--md-scr) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .link {
    padding: var(--m-3);
    border-radius: var(--m-2);
    height: 100%;
    border: 1.5px solid var(--color-tonal-neutral-0);
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background: var(--color-white);
      box-shadow: var(--lp-box-shadow-hover);
      .linkTitle {
        color: var(--color-dark-purple);
      }
    }

    .linkContent {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: var(--m-1-5);
    }

    .linkTitle {
      font-weight: var(--fw-bold);
      font-size: var(--fs-header-4);
      color: var(--color-black);
      margin-bottom: unset;
      line-height: 1.5;
      max-width: calc(100% - 24px);
      transition: color 0.2s ease-in-out;
    }

    .linkDescription {
      font-size: 15.95px;
      margin-bottom: unset;
      color: var(--color-black);
      line-height: 1.625;
    }

    .linkIcon {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
