.textWithMedia {
  padding-bottom: var(--m-5);

  @media (--md-scr) {
    padding-bottom: var(--m-8);
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: var(--m-5);
  row-gap: 20px;
  @media (--lg-scr) {
    grid-template-columns: minmax(0, 49.16%) minmax(0, 50.84%);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: var(--m-1);

  @media (--md-scr) {
    font-size: var(--lp-header-2);
  }
}

.text {
  line-height: 1.75;
  color: var(--color-foreground-slightly-muted);
  font-weight: 500;
  ul,
  li {
    padding-left: 1.5em;
  }

  a:only-child {
    color: var(--color-black);
    position: relative;
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.0303%201.19233C10.7374%200.899433%2010.2626%200.899433%209.96967%201.19233C9.67678%201.48522%209.67678%201.96009%209.96967%202.25299L15.4393%207.72266H0.75C0.335786%207.72266%200%208.05844%200%208.47266C0%208.88687%200.335786%209.22266%200.75%209.22266H15.4393L9.96967%2014.6923C9.67678%2014.9852%209.67678%2015.4601%209.96967%2015.753C10.2626%2016.0459%2010.7374%2016.0459%2011.0303%2015.753L17.7803%209.00299C17.9268%208.85654%2018%208.6646%2018%208.47266C18%208.37096%2017.9798%208.274%2017.9431%208.18557C17.9065%208.09711%2017.8522%208.01423%2017.7803%207.94233L11.0303%201.19233Z%22%20fill%3D%22%23512FC9%22%2F%3E%3C%2Fsvg%3E");
      width: 18px;
      height: 15px;
      right: -29px;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);
      transition: opacity 0.15s ease-in-out;
    }
    &:hover {
      color: var(--color-dark-purple);
      &::after {
        opacity: 1;
      }
    }
  }

  a {
    text-decoration: underline;
  }

  @media (--lg-scr) {
    font-size: var(--fs-text-xl);
  }
}

.media {
  box-shadow: 0 5px 20px 0 rgba(19, 19, 19, 0.1);
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 603/353;
  pointer-events: none;

  .image, .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
