.resources {
  padding-bottom: 5.25rem; /* 84px */
  background-color: var(--color-white);
  max-width: var(--lp-section-max-width);
  margin: 0 auto;

  &.docVariant {
    padding-bottom: var(--m-5);

    @media (--md-scr) {
      padding-bottom: var(--m-8);
    }
  }
}

.resourcesContainer {
  width: 100%;
}

.resourcesTitle {
  font-size: var(--fs-header-1);
  margin-bottom: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading));
  margin-top: 0;

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }

  &.docVariant {
    font-size: var(--fs-header-4);
    margin-bottom: var(--m-3);

    @media (--md-scr) {
      font-size: 1.375rem; /* 22px */
    }

    @media (--lg-scr) {
      font-size: var(--fs-header-3);
    }
  }
}

.resourcesGrid {
  --desktop-column-count: 4;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--m-2);

  @media (min-width: 577px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--lg-scr) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--xl-scr) {
    grid-template-columns: repeat(var(--desktop-column-count), 1fr);
  }
}

.iconSvg {
  height: 72px;
  width: max-content;
  margin-bottom: var(--m-4);
  @media (--sm-scr) {
    height: 48px;
    margin-bottom: var(--m-3);
  }

  &.docVariant {
    width: 40px !important;
    height: 40px !important;
    margin-bottom: var(--m-1) !important;
  }
}

.resourceItem {
  padding: var(--m-3);
  border-radius: 12px;
  border: 1.5px solid var(--color-tonal-neutral-0);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

a.resourceItem {
  &:hover {
    background: var(--color-white);
    cursor: pointer;
    box-shadow: var(--lp-box-shadow-hover);
    text-decoration: none;
    .resourceTitle {
      color: var(--color-dark-purple);
    }
  }
}

.resourceTitle {
  font-size: var(--fs-header-4);
  font-weight: var(--fw-bold);
  color: var(--color-text);
  margin: 0 0 var(--m-0-5) 0;
  font-family: var(--font-base);
  line-height: 1.5;
  text-decoration: none;
  display: block;
  transition: color 0.2s ease-in-out;

  @media (max-width: 576px) {
    font-size: 1rem;
  }
}

.resourceDescription {
  font-size: var(--fs-text-lg);
  color: var(--color-foreground-slightly-muted);
  margin: 0;
  line-height: 1.625;

  &.docVariant {
    @media (--md-scr) {
      line-height: 1.75;
    }

    @media (--lg-scr) {
      font-size: var(--fs-text-xl);
      line-height: 1.66667;
    }
  }
}
