.resourceGrid {
  padding-bottom: var(--m-5);

  @media (--md-scr) {
    padding-bottom: var(--m-8);
  }
}

.container {
  max-width: var(--lp-section-max-width);
  margin: 0 auto;
}

.content {
  margin: auto 0;
}

.title {
  font-size: 1.375rem; /* 22px */
  margin-bottom: var(--m-1);
  margin-top: 0;

  @media (--md-scr) {
    font-size: var(--fs-header-3);
  }
}

.text {
  font-size: var(--fs-text-lg);
  color: var(--color-foreground-slightly-muted);
  b,
  strong {
    font-weight: var(--fw-bold);
    font-size: var(--fs-text-lg);
    margin-bottom: unset;
  }

  p,
  ul,
  ol {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-bottom: var(--m-2);
    }
  }

  a {
    color: var(--color-foreground-slightly-muted);
    text-decoration: underline;
    font-weight: var(--fw-regular);

    &:hover {
      color: var(--color-dark-purple);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--m-2);
  margin-top: var(--m-3);

  @media (--md-scr) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.iconSvg {
  height: var(--m-5);
  width: max-content;
}

.resourceItem {
  padding: var(--m-2);
  border-radius: 12px;
  border: 1.5px solid var(--color-tonal-neutral-0);
  transition: all 0.2s ease-in-out;
  display: flex;
  gap: var(--m-1);
  align-items: center;
  text-decoration: none;
}

a.resourceItem {
  &:hover {
    background: var(--color-white);
    cursor: pointer;
    box-shadow: var(--lp-box-shadow-hover);
    text-decoration: none;
    border-color: transparent;
    .resourceTitle {
      color: var(--color-dark-purple);
    }
  }
}

.resourceTitle {
  font-size: var(--fs-text-xl);
  font-weight: var(--fw-bold);
  color: var(--color-text);
  margin: 0;
  font-family: var(--font-base);
  line-height: 1.5;
  text-decoration: none;
  display: block;
  transition: color 0.2s ease-in-out;

  @media (--md-scr) {
    font-size: var(--fs-header-4);
  }
}

.resourceDescription {
  font-size: var(--fs-text-lg);
  color: var(--color-foreground-slightly-muted);
  margin: 0;
  line-height: 1.625;
  font-family: var(--font-base);
}
